[submodule "python4android"]
	path = python4android
	url = https://github.com/zielmicha/python4android.git
[submodule "android/project/jni/jpeg"]
	path = android/project/jni/jpeg
	url = https://github.com/zielmicha/jpeg8d.git
[submodule "android/project/jni/png"]
	path = android/project/jni/png
	url = https://github.com/zielmicha/libpng-android.git
[submodule "android/project/jni/SDL"]
	path = android/project/jni/SDL
	url = https://github.com/zielmicha/SDL2.git
[submodule "pyjnius"]
	path = pyjnius
	url = git://github.com/kivy/pyjnius.git
[submodule "android/project/dropbox-sdk"]
	path = android/project/dropbox-sdk
	url = https://github.com/zielmicha/dropbox-android-core-sdk-mirror
