*.pyc
*.a
*.o
watch_log
/tests/
objectfiles
/freeciv-2.3.1/
*.komodoproject
*.so
/android/build
/old-*
/gui-stub
/gui-manual
*~
find
gendoc.py
/civsync/
/server/freeciv-server
/pyclient.txt
/count-lines
/android/freecivserver
/android/c.py
/android/lzma
/android/pyjni/obj
/android/pyjni/pyjni
/lib/SocketServer.py
/TODO
/CHANGELOG
/server/common
/profileout
/showgtk.py
