/build.xml
/local.properties
/bin
/gen
/libs
/obj
/jni/python
/jni/freeciv
/jni/freeciv-server/ai
/jni/freeciv-server/common
/jni/freeciv-server/fc_config.h
/jni/freeciv-server/lua
/jni/freeciv-server/server
/jni/freeciv-server/tolua
/jni/freeciv-server/utility
/jni/SDL
/jni/SDL2_image
/jni/SDL2_ttf
/jni/SDL2_mixer
